{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>OUE PEOPLE IN CREW</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/SWETHAPIC.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">SWETHA.K.P</div>
            <div class="designation">C.E.O AK CORP</div>
            </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/image2.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">vijay</div>
            <div class="designation">FRONTEND DEV</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/image4.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">NAYANTHRA</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/image3.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">DHANUSH</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/robert.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ROBERT</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/vd.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">vijay derverkonda</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
    {% endblock  %}