{% extends "website/base.html" %}

{% block content %}
<div class="productcontent">
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c1.jpg" alt="product image" style="width:200px;height:200px;">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"></div>
        <div class="itemimage">
            <img src="/static/img/c2.jpg" alt="product image" style="width:200px;height:200px;">
        </div>
        <div class="itemname">1TB Laptop HDD</div>
        <div class="itemprice">Price: Rs.5000.00 </div>
        <div class="productitems">
            <div class="itemimage">
                <img src="/static/img/wifidevice.jpg" alt="product image" style="width:200px;height:200px;">

            </div>
            <div class="itemname">2.4 GHz, 5 GHz</div>
        </div>
        <div class="itemprice">price: Rs.1,5000</div>
    </div>
</div>
<div class="productitems">
    <div class="itemimage">
        <img src="/static/img/4ghotspot.jpg" alt="product image" style="width:200px;height:200px;">
    </div>
    <div class="itemname">WAN: LTE (2300/1800/850MHz), WLAN: IEEE 802.11 b/g/n 2.4G only</div>
    <div class="itemprice">price: Rs.2000</div>
</div>
<div class="productitems">
    <div class="itemimage">
        <img src="/static/img/switchingdevices.jpg" alt="product image" style="width:200px;height:200px;">
    </div>
    <div class="itemname">FF-SFL-03 Network Firewall - 100 users</div>
    <div class="itemprice">price: Rs.21000</div>
    <div class="productitems">
        <div class="itemimage">
            <img src="/static/img/opticsensors.jpg" alt="product image" style="width:200px;height:200px;"></div>
        <div class="itemname"> E3X-NA High PerformanceE3X Series Programmable Fibre Optic Amplifiers and E32 Sensing
            Heads</div>
        <div class="itemprice">price: Rs.14000</div>
        <div class="productitems">
            <div class="itemimage">
                <img src="/static/img/SSDPLUS.jpg" alt="product image" style="width:200px;height:200px;">
            </div>
            <div class="itemname">Sandisk SSD PLUS 63.5 mm 120 GB SSD Hard Drive</div>
            <div class="itemprice">price: Rs.7000</div>
            <div class="productitems">
                <div class="itemimage">
                    <img src="/static/img/SATAHDD.jpg" alt="product image" style="width:200px;height:200px;">
                </div>
                <div class="itemname">WD ( Western Digital ) 4 TB Purple Surveillance Internal Hard Drive</div>
                <div class="itemprice">price: Rs.8000</div>
                <div class="productitems">
                    <div class="itemimage">
                        <img src="/static/img/BROADBANDMODEMS.png" alt="product image"
                            style="width:200px;height:200px;"></div>
                    <div class="itemname">XIAOMI MI 4C WIRELESS ROUTER (DVB4211IN, WHITE)</div>
                    <div class="itemprice">price: Rs.1,400</div>
                </div>
                <div class="productitems">
                    <div class="itemimage">
                        <img src="/static/img/Solar-UPS-Inverters.jpg" alt="product image"
                            style="width:200px;height:100px;">
                    </div>
                    <div class="itemname">GO GREEN, Convert your Existing UPS to Solar UPS,capacity 3 KVA to 20 KVA
                    </div>
                    <div class="itemprice">price: Rs.50000</div>


                </div>


            </div>

        </div>
    </div>
</div>


{% endblock  %}